<% include ../partials/header %>
    <div class="ui main container segment">
        <h1 class="ui center aligned header">Update <%= school.schoolName %></h1>
        <form class="ui form" action="" method="POST">
            <div class="field">
                <label>School Name</label>
                <input type="text" name="schoolName" value="<%= school.schoolName %>">
            </div>
            <div class="ui error message"></div>
            <button class="ui primary button" type="submit">Submit</button>
        </form>
    </div>
    
    <script>
        $('.ui.form')
          .form({
            fields: {
              name: {
                identifier: 'schoolName',
                rules: [
                  {
                    type   : 'empty',
                    prompt : 'Please enter School Name'
                  }
                ]
              }
            }
          })
        ;
    </script>

<% include ../partials/footer %>